* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(45deg, #2e2ec2, #7bd67b);
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 40%;
  height: 50vh;
  margin: auto;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 2px 2px;
  text-align: center;
  border-radius: 50px;
}

.workspace {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: auto;
  margin: 20px;
}

#display {
  background-color: red;
  height: 10vh;
  width: 50%;
  margin: auto;
  padding: 30px;
  margin-top: 50px;
  border-radius: 30px;
}

li{
  display: block;
}

#input {
  width: 100%;
}